:root {
  --primary-colour: #ee9798;
  --secondary-colour: #8d6262;
  --white: #ffffff;
}

body {
  background-size: cover;
  background-position: center;
  font-size: 1.1rem;
  font-family: 'Open Sans';
  width: 70%;
  margin: 0 10%;
}

.section {
  /* background-color: var(--white); */
}

.heading {
  color: var(--primary-colour);
  font-size: 2.4rem;
  text-align: center;
  margin: 0.2rem;
  margin-top: 2rem;;
}
.sub-heading {
  width: 236px;
  height: 36px;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 800;
  background-color: #ee9798;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.heading2 {
  color: var(--primary-colour);
  
}

.nav {
  width: 50vh;
  margin: 0 auto;
  margin-top: 2rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}

.nav-list-item {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--secondary-colour);
  font-weight:700;
}

.open-call-list-item {
  list-style: none;
}

.section { 
  margin: 4rem 10%;
}

footer {
  bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.divider {
  width: 90%;
  margin: 3rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.schedule-table {
  display: grid;
  grid-template-columns: 20% 75%; /* Adjust column width as needed */
  row-gap: 1rem;
  justify-content: center;
  
}

.time{
  width: 100%;
  height:  auto;
  background-color: #ee9798;
  border-radius: 10px;
}

p.timetext {
  text-align: center;
  justify-self: center;
  font-weight: bold;
  color: #ffffff;
}

.event{
  text-align: left;
  justify-self: left;
  align-self: start;
  margin-left: 2rem;
  text-wrap: warp;
  color: #8d6262;
}

h3.event-heading{
  margin-top: 0;
}


.schedule-table-container {
  padding: 0px;
  text-align: center;
}

.speakers-container{
  padding: 1em 1em 0;
}

.speakerdetails{
  display: flex;
  height: 24rem;
  width: auto;
  margin: auto;
}

img{
  height:250px
}

.speaker_bio{
  margin: 20px auto;
}